h1 {
    font-size: 2em;
    color: black;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1em;
    margin-top: 0;
    padding-top: 0;
    color: black;
  }

  .div-content {
    width: 80%;
    padding-left: 10%;
  }

  .custom-card {  
    background-color: lightgrey;
  }

  .card-title {
    text-align: center;
    font-weight: bold;  
  }
  

.letter {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: solid 3px black;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

.letter:hover { 
    background-color: grey;
}

mat-spinner.small-spinner svg { width: 40px !important; height: 40px !important; }